{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "wordpress",
    "plugin:react/recommended"
  ]
}
